<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">



    <application android:theme="@style/AppTheme">
        <activity android:name=".activity.ImagePreviewActivity" />
        <activity android:name=".activity.matm.MatmResponseActivity" />
        <activity android:name=".activity.register.kyc.RegisterUserKycActivity" />
        <activity android:name=".activity.login_id.create.CreateLoginIdActivity" />
        <activity android:name=".activity.login_id.forgot.ForgotLoginIdActivity" />
        <activity android:name=".activity.eye_blink.EyeBlinkCameraActivity" />
        <activity android:name=".activity.register.RegistrationRoleMapActivity" />
        <activity android:name=".activity.register.user.RegisterUserListingActivity" />

        <activity android:name=".activity.fund_request.FundRequestActivity" />

        <activity android:name=".activity.DistAepsResultActivity" />
        <activity android:name=".activity.recharge.BillRechargeResultActivity" />
        <activity android:name=".activity.DistDmtResultActivity" />
        <activity android:name=".activity.DistUpiResultActivity" />
        <activity android:name=".activity.ShowQRImageActivity" />

        <activity android:name=".activity.register.RegistrationActivity" />
        <activity android:name=".activity.AepsKycActivity" />
        <activity android:name=".activity.NotificationActivity" />

        <activity
            android:name=".activity.login.SignupActivity"
            android:label="Retailer Signup" />
        <activity android:name=".activity.login.ProfileActivity" />

        <activity
            android:name=".activity.kyc.Kyc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.PaymentGatewayActivity" />


        <activity
            android:name=".activity.CreateRetailerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ExceptionActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AppInProgressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FundTransferActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ReportSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.login.DeviceVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FundTransferSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PaymentSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MemberSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.InvoiceSlipActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.paymentGateway.RazorPayActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.AnyReportShow"
            android:theme="@style/AppTheme.NoActionBar" />




    </application>

</manifest>